@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Chelsea Market', cursive;
}

.profilepic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 25px;
}

.navbuttons {
text-align: center;
margin: 35px;
}

.plan {
    border-radius: 10px;
    background-color: #FF764E;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-right: 60px;
    
}

.about {
    border-radius: 10px;
    background-color: #5ED3EB;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-right: 60px;
}

.get {
    border-radius: 10px;
    background-color: #FFCD69;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-right: 60px;
}

.box {
    color: white;
    background-color: #DDB9A3;
    margin: 0 20px 0 20px;
}

.firetext {
    text-align: center;
}

.firepic {
    margin: 0 auto;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.vantext {
    text-align: center;
}

.vanpic {
    display: inline-block;
    height: 100px;
    width: 100px;
}